<app-background-image [heading]="'Rezervacije'" [page]="'Rezervacije'"></app-background-image>

<div class="features-1 pb-5">
    <div class="container">
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" (click)="showReservationsByMe()" [class.active]="isActive === 'byMe'">Status poslatih rezervacija</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="showReservationsForMe()" [class.active]="isActive === 'forMe'">Rezervacije koje čekaju odobrenje</a>
            </li>
          </ul>
        <br>
          <!--Status poslatih rezervacija -->
        <div *ngIf="reservationsByMe" class="card p-1">

        </div>

        <!--Rezervacije koje čekaju odobrenje -->
        <div *ngIf="reservationsForMe" class="card p-1">
            
        </div>
    </div>
</div>
