<app-header [active]="'reservations'"></app-header>

<app-background-image [heading]="'Rezervacije'" [page]="'Rezervacije'"></app-background-image>

<div id="top_container" class="pb-5" id="top_container">
    <div class="container">
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" (click)="showReservationsByMe()" [class.active]="isActive === 'byMe'">Status poslatih rezervacija</a>
            </li>
            <li class="nav-item" *ngIf="isSeller()">
              <a class="nav-link" (click)="showReservationsForMe()" [class.active]="isActive === 'forMe'">Rezervacije koje čekaju odobrenje
                <span *ngIf="openedReservationsForMe && reservationsForMe.length>0" class="badge bg-danger border border-danger rounded-pill">{{reservationsForMe.length}}</span>
              </a>
          </ul>
        <br>
          <!--Status poslatih rezervacija -->
        <div *ngIf="activeReservationsByMe" class="card p-3">
          <div *ngIf="reservationsByMe.length>0" class="container">
              
            <div class="d-flex flex-column" *ngFor="let r of rbmShow">
              <app-reservation [reservation]="r" [byUser]="true"></app-reservation>
            </div>

            <div class="row align-items-center py-5">
                <div class="col-lg-3">
                    Pagination ({{currentPageRbm}} of {{totalPagesNumRbm}})
                </div>
                <div class="col-lg-6 text-center">
                    <div class="custom-pagination">
                        <a *ngFor="let p of totalPagesArrayRbm" [class]="(currentPageRbm == p) ? 'active' : ''" (click)="changePage(p,true)" style="margin:2px">{{p}}</a>
                    </div>
                </div>
            </div>
          </div>
    
          <div *ngIf="reservationsByMe.length==0" class="container">
              Trenutno nemate ni jednu poslatu rezervaciju.
          </div>
        </div>

        <!--Rezervacije koje čekaju odobrenje -->
        <div *ngIf="activeReservationsForMe" class="card p-3">
          <h3 *ngIf="openedOlderReservations">Rezervacije koje su prošle</h3>
          <h3 *ngIf="openedAcceptedReservations">Zakazane rezervacije</h3>
          <div *ngIf="reservationsForMe.length>0" class="container">
            <div class="d-flex flex-column" *ngFor="let r of rfmShow">
              <app-reservation [reservation]="r" [byUser]="false" [older]="openedOlderReservations" [accepted]="openedAcceptedReservations"></app-reservation>
            </div>
                <div class="row align-items-center py-5">
                  <div class="col-lg-3">
                      Pagination ({{currentPageRfm}} of {{totalPagesNumRfm}})
                  </div>
                  <div class="col-lg-6 text-center">
                      <div class="custom-pagination">
                          <a *ngFor="let p of totalPagesArrayRfm" [class]="(currentPageRfm == p) ? 'active' : ''" (click)="changePage(p, false)" style="margin:2px">{{p}}</a>
                      </div>
                  </div>
              </div>
          </div>
    
            <div *ngIf="reservationsForMe.length==0" class="container">
              <p *ngIf="openedReservationsForMe">Trenutno nemate ni jednu rezervaciju koju treba odobriti.</p>
              <p *ngIf="openedOlderReservations">Nemate ni jednu prošlu rezervaciju</p>
              <p *ngIf="openedAcceptedReservations">Nemate ni jednu zakazanu rezervaciju</p>
            </div>
            <div class="row align-items-center justify-content-center">
              <div class="col-4">
                <button class="btn btn-sm flex-fill btn-secondary">
                    <a class="nav-link link-light" *ngIf="openedReservationsForMe || openedAcceptedReservations" aria-current="page" (click)="getOlderReservations()">Prošle rezervacije</a>
                    <a class="nav-link link-light" *ngIf="openedOlderReservations" aria-current="page" (click)="getReservationsForMe()">Rezervacije za odobravanje</a>   
                  </button> 
              </div>
              <div class="col-4">
                <button class="btn btn-sm flex-fill btn-secondary ">
                    <a class="nav-link link-light" *ngIf="openedReservationsForMe || openedOlderReservations" aria-current="page" (click)="getAcceptedReservations()">Zakazane rezervacije</a>
                    <a class="nav-link link-light" *ngIf="openedAcceptedReservations" aria-current="page" (click)="getReservationsForMe()">Rezervacije za odobravanje</a>     
                </button> 
              </div>
            </div>

        </div>
    </div>
</div>
