<app-background-image [heading]="'Moji oglasi'" [page]="'Moji oglasi'"></app-background-image>

<br>

<div class="row justify-content-center align-items-center">
    <div class="col-3" style="text-align: center;">
        <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#collapseAddProperty" aria-expanded="false" aria-controls="collapseAddProperty"
        (click)="toggleNewProp()">
            Dodaj novi oglas 
            <svg *ngIf="!newPropModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"/>
            </svg>
            <svg *ngIf="newPropModal" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-up" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"/>
              </svg>
        </button>
        <br><br>
    </div>
</div>
<div class="row justify-content-center align-items-center">
    <div class="col-10" style="text-align: center;">
        <div class="collapse" id="collapseAddProperty">
            <div class="card card-body">
                <app-add-property-form></app-add-property-form>
            </div>
        </div>
    </div>
</div><br>
<div class="container pb-5" id="my_property_begining">
    <h2>Lista mojih oglasa</h2>
    <div class="card p-4">
        <div *ngIf="propertiesBySeller.length>0" class="container">
            <div class="row">
    
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" *ngFor="let p of propertiesToShow">
                    <app-property [property]="p" [additionalOptions]="true"></app-property>
                </div>
                
            </div>
            <div class="row align-items-center py-5">
                <div class="col-lg-3">
                    Pagination ({{currentPage}} of {{totalPagesNum}})
                </div>
                <div class="col-lg-6 text-center">
                    <div class="custom-pagination">
                        <a *ngFor="let p of totalPagesArray" [class]="(currentPage == p) ? 'active' : ''" style="margin:2px" (click)="changePage(p)">{{p}}</a>
                    </div>
                </div>
            </div>
        </div>
        
    
        <div *ngIf="propertiesBySeller.length==0" class="container">
            Trenutno nema ni jedan okačen oglas.
        </div>
    </div>
</div>

