<form>
    <div class="container">
        <div class="row m-3">
            <div class="col-sm-6">
                <textarea [(ngModel)]="description" name="description" type="text" id="description"  cols="40" rows="4" class="form-control" placeholder="Unesite opis"></textarea>
            </div>
            <div class="col-sm-3">
                <input [(ngModel)]="price" name="price" type="text" id="price" class="form-control" placeholder="Unesite cenu">
                <p *ngIf="invalidPrice" class="small fw-bold text-danger">Cena mora biti broj.</p>
                <!--<p class="small fw-bold text-danger">Unesite ispravno prezime. (minimum 1, maksimum 30 karaktera)</p>-->
            </div>
            <div class="col-sm-1">
                <input name="currency" type="text" id="currency" class="form-control" placeholder="$" disabled>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-sm-3">
                <input [(ngModel)]="area" name="area" type="text" id="area" class="form-control" placeholder="Unesite kvadraturu">
                <p *ngIf="invalidArea" class="small fw-bold text-danger">Kvadratura mora biti broj.</p>
            </div>
            <div class="col-sm-1">
                <input name="currency" type="text" id="currency" class="form-control" placeholder="㎡" disabled>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm">
                <select [(ngModel)]="selectedCityId" class="form-select form-control" name="citySelect">
                    <option value="0" selected disabled>Odaberi grad</option>
                    <option *ngFor="let c of cities" [ngValue]="c.id" name="city">{{c.name}}</option>
                </select>
                <p *ngIf="invalidCity" class="small fw-bold text-danger">Moras da odaberes grad.</p>
            </div>
            
        </div>
        <div class="row m-3">
            <div class="col-sm">
                <select [(ngModel)]="selectedAdCategoryId" class="form-select form-control" name="categorySelect">
                    <option value="0" selected disabled>Odaberi tip oglasa</option>
                    <option *ngFor="let c of adCategories" name="adType" [ngValue]="c.id">{{c.name}}</option>
                </select>
                <p *ngIf="invalidAdCategory" class="small fw-bold text-danger">Moras da odaberes tip oglasa.</p>
            </div>
            <div class="col-sm">
                <select [(ngModel)]="selectedAdTypeId" class="form-select form-control" name="typeSelect">
                    <option value="0" selected disabled>Odaberi vrstu nekretnine</option>
                    <option *ngFor="let t of adTypes" name="adType" [ngValue]="t.id">{{t.name}}</option>
                </select>
                <p *ngIf="invalidType" class="small fw-bold text-danger">Moras da odaberes vrstu nekretnine.</p>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-sm">
                <input [(ngModel)]="picture" type="file" id="propertyPicture" name="propertyPicture" class="form-control" (input)="validationPicture()">
                <p *ngIf="invalidPicture" class="small fw-bold text-danger">Slika je prevelika. Dozvoljen opseg je 4kB - 45kB</p>
            </div>
            <div class="col-sm-2 " style="font-size: 1rem;">
                <h6>Novogradnja:</h6>
            </div>
            <div class="col-sm-4" style="font-size: 1rem;text-align: left;">
                <div name="newConstruction" class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" (change)="setNewConstruction($event)">
                    <label class="form-check-label" for="inlineRadio1">Da</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="0" (change)="setNewConstruction($event)">
                    <label class="form-check-label" for="inlineRadio2">Ne</label>
                  </div>
                  <p *ngIf="invalidNewConstruction" class="small fw-bold text-danger">Odaberi da li je novogradnja ili ne</p>
            </div>
        </div>
        <div class="row m-3">
            <div class="col-sm">
                <input type="button" class="btn btn-primary move-right" value="Dodaj" (click)="checkValidation()"> 
            </div>
        </div>
    </div>
</form>
