<div class="site-footer">
    <div class="container">
        
        <div class="row">
            <div class="col-lg-4">
                <div class="widget">
                    <h3>Kontakt</h3>
                    <address>Radoja Domanovića 12</address>
                    <ul class="list-unstyled links">
                        <li><a href="tel://11234567890">034/336-223</a></li>
                        <li><a href="tel://11234567890">034/335-039</a></li>
                        <li><a href="mailto:info@mydomain.com">tim4@gmail.com</a></li>
                    </ul>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="widget">
                    <h3>Linkovi</h3>
                    <ul class="list-unstyled float-start links">
                        <li><a href="/about">O nama</a></li>
                        <li><a href="/contactus">Kontakt</a></li>
                        <li><a href="/login">Prijava</a></li>
                    </ul>
                    <ul class="list-unstyled float-start links">
                        <li><a href="/properties">Nekretnine</a></li>
                        <li><a href="/properties/prodaja">Prodaja nekretnina</a></li>
                        <li><a href="/properties/izdavanje">Sve nekretnine</a></li>
                    </ul>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="widget">
                    <h3>Društvene mreže</h3>

                    <ul class="list-unstyled social">
                        <li><a href="#"><span class="icon-instagram"></span></a></li>
                        <li><a href="#"><span class="icon-twitter"></span></a></li>
                        <li><a href="#"><span class="icon-facebook"></span></a></li>
                        <li><a href="#"><span class="icon-linkedin"></span></a></li>
                        <li><a href="#"><span class="icon-pinterest"></span></a></li>
                        <li><a href="#"><span class="icon-dribbble"></span></a></li>
                    </ul>
                </div> <!-- /.widget -->
            </div> <!-- /.col-lg-4 -->
        </div> <!-- /.row -->

        <div class="row mt-5">
            <div class="col-12 text-center">
                <!-- 
          **==========
          NOTE: 
          Please don't remove this copyright link unless you buy the license here https://untree.co/license/  
          **==========
        -->

        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script>.Sva prava zadrzana. &mdash; Dizajnirano s ljubavlju - Tim6 <!-- License information: https://untree.co/license/ -->
        </p>

      </div>
    </div>
  </div> <!-- /.container -->
</div> <!-- /.site-footer -->