<div class="hero page-inner overlay" style="background-image: url('../../assets/images/hero_bg_3.jpg');">

    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center mt-5">
                <h1 class="heading">Ko smo mi?</h1>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb text-center justify-content-center">
                        <li class="breadcrumb-item "><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active text-white-50" aria-current="page">O nama</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>




<div class="section">
    <div class="container">
        <div class="row text-left mb-5">
            <div class="col-12">
                <h2 class="font-weight-bold heading text-primary mb-4 text-center">SKUCI SE</h2>
            </div>
            <div class="col-lg-6">
                <p class="text-black-50">SkuciSe je najveca platforma za prodaju i izdavanje nekretnina u Srbiji i sire.</p>
                <p class="text-black-50">Medjutim, i pored toga se trudimo da svakodnevno unapredjujemo i prosirujemo nase poslovanje!</p>
                <p class="text-black-50">U nastavku stranice mozete videti prodavce koji su registrovani na nasoj platformi, sa preko 1000 objavljenih nekretnina!</p>
            </div>
            <div class="col-lg-6">
                
                <p class="text-black-50">Ako ste u potrazi za nekretninom, na pravom ste mestu! Sigurni smo da cete pronaci bas ono sto Vam je potrebno!</p>
                <p class="text-black-50">A ako pak imate neku nekretninu za prodaju/izdavanje, registrujte se kako bi dosli do zeljenog cilja za sto krace vreme!</p>
            </div>
        </div>

    </div>
</div>


<!-- prikaz prodavaca -->
<div class="section">
    <div class="container">
        <app-sellers></app-sellers>
    </div>
</div>





