<div class="property-item">

    <a href="property-single.html" class="img">
        <img src="../../../assets/images/img_1.jpg" alt="Image" class="img-fluid">
    </a>

    <div class="property-content">
        <div class="price mb-2"><span>{{property.price}}</span></div>
        <div>
            <span class="city d-block mb-3">{{property.city.name}}</span>

            
            <div class="specs d-flex mb-4">
                <span class="d-block d-flex align-items-center me-3">
                    <span class="icon-home me-2"></span>
                    <span class="caption">{{property.area}}</span>
                </span>

                <a [routerLink]="['/property/', property.id]" class="btn btn-primary py-2 px-3 float-right">See details</a>
            </div>
            

            
        </div>
    </div>
</div> <!-- .item -->