<!--ovo su sve nekretnine-->
<div class="section section-properties">
    <div class="container">
        <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4" *ngFor="let p of properties">
                <app-property [property]="p"></app-property>
            </div>
            
        </div>
        <div class="row align-items-center py-5">
            <div class="col-lg-3">
                Pagination (1 of 10)
            </div>
            <div class="col-lg-6 text-center">
                <div class="custom-pagination">
                    <a href="#">1</a>
                    <a href="#" class="active">2</a>
                    <a href="#">3</a>
                    <a href="#">4</a>
                    <a href="#">5</a>
                </div>
            </div>
        </div>
    </div>
</div>