<app-header [active]="'user-profile'"></app-header>

<app-background-image *ngIf ="!isMe()" [heading]="'Profil korisnika'" [page]="'Profil'"></app-background-image>
<app-background-image *ngIf ="isMe()" [heading]="'Moj profil'" [page]="'Profil'"></app-background-image>


<div class="features-1">
    <div class="section">
        <div class="container">

            <!-- moj profil -->
            <div *ngIf="isMe()" class="row justify-content-center">
                <div class="card p1">

                    <form>
                        <div class="row m-3">
                            <div class="text-center">
                                <img *ngIf="picture != ''" src="{{picture}}" alt="SlikaKorisnika" class="img-fluid mx-auto d-block" width="30%">
                            </div>
                        </div>
                        <div class="row m-3">
                            <div class="col">
                                <label for="firstName" class="">Ime</label>
                                <input [(ngModel)]="firstName" name="firstName" type="text" id="firstName" class="form-control">
                                <p *ngIf="wrongNewFirstName" class="small fw-bold text-danger">Unesite ispravno ime. (minimum 1, maksimum 30 karaktera)</p>
                            </div>
                            <div class="col">
                                <label for="lastName" class="">Prezime</label>
                                <input [(ngModel)]="lastName" name="lastName" type="text" id="lastName" class="form-control">
                                <p *ngIf="wrongNewLastName" class="small fw-bold text-danger">Unesite ispravno prezime. (minimum 1, maksimum 30 karaktera)</p>
                            </div>
                        </div>
                        <div class="row m-3">
                            <div class="col">
                                <label for="email" class="">Email</label>
                                <input [(ngModel)]="email" name="email" type="email" id="email" class="form-control">
                                <p *ngIf="wrongNewEmail" class="small fw-bold text-danger">Unesite ispravnu e-mail adresu.</p>
                            </div>
                            <div class="col">
                                <label for="phoneNumber" class="">Broj telefona</label>
                                <input [(ngModel)]="phoneNumber" name="phoneNumber" type="text" id="phoneNumber" class="form-control">
                                <p *ngIf="wrongNewPhoneNumber" class="small fw-bold text-danger">Unesite ispravan broj telefona. (Format: +3817215898 ili 0617218598)</p>
                            </div>
                        </div>
                        <div class="row m-3">
                            <div class="col">
                                <input type="button" class="btn btn-primary move-right" value="Izmeni podatke" (click)="changeData()"> 
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <!-- profil korisnika -->
            <div *ngIf="!isMe()" class="row justify-content-center">
                <div class="card p1">

                    <div class="row m-3">
                        <div class="text-center">
                            <img *ngIf="picture != ''" src="{{picture}}" alt="SlikaKorisnika" class="img-fluid mx-auto d-block" width="30%">
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col">
                            <label for="firstName" class="">Ime</label>
                            <input [(ngModel)]="firstName" name="firstName" type="text" id="firstName" class="form-control" disabled>
                        </div>
                        <div class="col">
                            <label for="lastName" class="">Prezime</label>
                            <input [(ngModel)]="lastName" name="lastName" type="text" id="lastName" class="form-control" disabled>
                            
                        </div>
                    </div>
                    <div class="row m-3">
                        <div class="col">
                            <label for="email" class="">Email</label>
                            <input [(ngModel)]="email" name="email" type="email" id="email" class="form-control" disabled>
                        </div>
                        <div class="col">
                            <label for="phoneNumber" class="">Broj telefona</label>
                            <input [(ngModel)]="phoneNumber" name="phoneNumber" type="text" id="phoneNumber" class="form-control" disabled>
                        </div>
                    </div>

                    
                    <div *ngIf="isAdmin()" class="row m-3">
                        <div class="col">
                            <a class="btn btn-danger py-2 px-3 float-right" data-bs-toggle="modal" data-bs-target="#deleteUserModal">Obrisi profil korisnika</a>&nbsp;
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="deleteUserModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Obriši profil korisnika</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Da li ste sigurni da želite da obrišete profil korisnika {{firstName}} {{lastName}}?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Odustani</button>
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="deleteProfile()">Obrisi</button>
        </div>
      </div>
    </div>
  </div>