<div class="hero" id="top_container">
    <div class="hero-slide">
        <div class="img overlay" style="background-image: url('../../../assets/images/hero_bg_3.jpg')"></div>
        <!--<div class="img overlay" style="background-image: url('../../../assets/images/hero_bg_2.jpg')"></div>
        <div class="img overlay" style="background-image: url('../../../assets/images/hero_bg_1.jpg')"></div>-->
    </div>

    <div class="container" *ngIf="buyer">
        <div class="row justify-content-center align-items-center">
            <div class="col-lg-9 text-center"  style="background-color:rgba(242,244,246,0.88);
            position: relative;
            top: 10vh;
            border-radius: 1rem;">
                <app-buyer-info-card [buyer]="buyer"></app-buyer-info-card>

                <br>

                <h3 *ngIf="isMe()"><a [routerLink]="['/my-properties']" class="link-info">Moji oglasi</a></h3>
                <!--<h3 *ngIf="!isMe() && isAdmin()">Oglasi na koje se prijavio kupac</h3>-->
            </div>
        </div>
    </div>
</div>