<div class="section sec-testimonials">
    <div class="container">
        <div class="row mb-5 align-items-center">
            <div class="col-md-6">
                <h2 class="font-weight-bold heading text-primary mb-4 mb-md-0">Utisci korisnika</h2>
            </div>
            <div class="col-md-6 text-md-end">
                <div id="testimonial-nav">
                    <span class="prev" data-controls="prev">Prev</span>
                    
                    <span class="next" data-controls="next">Next</span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                
            </div>
        </div>
        <div class="testimonial-slider-wrap">
            <div class="testimonial-slider">
                <!-- ovo i dalje ne radi, razvuceno je i prev next ne radi! -->
                <app-testimony></app-testimony>
            </div>
        </div>
    </div>
</div>